@charset "UTF-8";


body {
    background-color:#061822;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "mamablock-210", "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: #542A72;
    font-family: "poppins";
    height: 99vh; /* Cada seção ocupa toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease; /* Transição suave */
}

.projetos {
  text-align: center;
  padding: 40px 20px;
}

.titulo-principal {
  font-size: 3.2rem;
  font-weight: 200;
  color: #ffffff;
  margin-bottom: 350px;
  position: absolute;
  left: 30px; /* Define a distância do texto para o lado esquerdo da tela */
}

.titulo-principal span {
  font-weight: bold;
  position: absolute;
  left: 7px;
  margin-top: 50px;
}

/* Estilo dos Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 250px;
  
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 30px 15px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.292);
}

.card h3 {
  color: #4a2e80;
  font-size: 1.5rem;
  line-height: 10px;
}

.card p {
  color: #333;
  margin: 10px 0;
  line-height: 60px;
}

.card ul {
  list-style-type: disc;
  margin: 10px 0 20px 20px;
  padding: 0;
  text-align: left;
  line-height: 25px;
}

.card ul li {
  margin-bottom: 8px;
}

.botao {
  display: inline-block;
  padding: 10px 20px;
  background-color: #542A72;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #c4cb0e;
  color: #542A72;
}


h1 {
    color: #FFFFFF;
    font-size: 40px;
}

h2 {
    letter-spacing: 2px;
    word-spacing: 5px;/*espaço entre as palavras*/
}

/* Cabeçalho */
header {
    background-color: #061822;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 120px;
    display: flex; /* Define layout flexível */
    justify-content: space-between; /* Separa o título e o menu */
    align-items: center; /* Centraliza verticalmente */
    margin: 1px;/*Adiciona espaço externo ao redor do cabeçalho*/
    padding: 0 20px; /* Espaçamento interno lateral */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.445);
    border-radius: 50px 0;
    position: absolute; /* Ou "fixed" se quiser que o cabeçalho fique fixo no topo */
    z-index: 10; /* Define o cabeçalho acima de outros elementos */
}

/* Menu */
.menu {
    display: flex; /* Alinha os itens horizontalmente */
    flex-wrap: wrap; /* Links se organizam em múltiplas linhas, se necessário */
    justify-content: center; /* Centraliza os links */
    gap: 90px; /* Espaço entre os links */
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 18px;/*tamanho da fonte*/
    font-weight:200;
    padding: 16px 16px;/*tamanho do quadrado em volta dos links*/
    transition: background-color 0.1s, color 0.3s;
    border-radius: 5px; /* Arredonda as bordas dos links */
}

.menu a:hover {
    background-color: #E0E445;
    color: #08131b;
    font-weight: 700;
}


/* Novo CSS para o conteúdo das abas */
.portfolio-tab {
    display: none; /* As seções estão fechadas por padrão */
    height: 500vh; /* A nova seção ocupa toda a altura da tela */
    width: 100%; /* Ocupa toda a largura */
    background-color: #E0E445;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.tab-content {
    height: 100%;
    width: 100%; /* Ajuste o tamanho do conteúdo dentro da seção */
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.292);
}


.close-btn {
    background: none;
   /* position: absolute;*/
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: #ff0000;
    border: none ;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;/*indica que é um item clicavel*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.close-btn:hover {
    background-color: #e60000;
    color: #FFFFFF;
}

/* Estilizando o layout das imagens intercaladas com descrições */
.content-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
}

.content-image {
    flex: 1;
    text-align: center;
}

.content-image img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-description {
    flex: 1;
    padding: 20px;
    font-size: 14px;
    color: #333;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.content-description p {
    margin-top: 20px;
    line-height: 20px;
}
/* Posicionamento intercalado */
.content-image.left {
    order: 1;
}

.content-description.right {
    order: 2;
}

.content-image.right {
    order: 2;
}

.content-description.left {
    order: 1;
}


.triangle {
    display: none; /* Oculto por padrão */
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #947fa3; /* Cor do triângulo */
    z-index: 5; /* Para ficar acima dos cards */
    transition: all 0.5s ease; /* Animação suave */
  }


/* Responsividade */
@media (max-width: 1080px){
    #section2 {
        font-size: 15px;
    }
    header {
        flex-wrap: wrap; /* Permite que os itens do cabeçalho se ajustem */
        height: auto; /* Ajusta automaticamente a altura */
        padding: 20px; /* Reduz o espaçamento interno */
    }
    .menu {
        display: flex;
        flex-wrap: wrap; /* Links se organizam em múltiplas linhas, se necessário */
        justify-content: center; /* Centraliza os links */
        gap: 10px; /* Reduz o espaço entre os links */
    }

    .menu a {
        padding: 5px 10px; /* Links mais compactos */
        font-size: 14px; /* Texto menor para links */
    }
}
@media (max-width: 768px) {
    header {
        flex-wrap: wrap; /* Permite que os itens do cabeçalho se ajustem */
        height: auto; /* Ajusta automaticamente a altura */
        padding: 20px; /* Reduz o espaçamento interno */
    }
    .menu {
        display: flex;
        flex-wrap: wrap; /* Links se organizam em múltiplas linhas, se necessário */
        justify-content: center; /* Centraliza os links */
        gap: 10px; /* Reduz o espaço entre os links */
    }

    .menu a {
        padding: 5px 10px; /* Links mais compactos */
        font-size: 14px; /* Texto menor para links */
    }
}



@media (max-width: 480px){
    header {
        flex-wrap: wrap; /* Permite que os itens do cabeçalho se ajustem */
        height: auto; /* Ajusta automaticamente a altura */
        padding: 20px; /* Reduz o espaçamento interno */
    }

    .menu {
        display: flex;
        flex-wrap: wrap; /* Links se organizam em múltiplas linhas, se necessário */
        justify-content: center; /* Centraliza os links */
        gap: 10px; /* Reduz o espaço entre os links */
    }

    .menu a {
        padding: 5px 10px; /* Links mais compactos */
        font-size: 10px; /* Texto menor para links */

    }

    .project {
        width: 100%;
    }
}