@charset "UTF-8";

@font-face {
    font-family: "Play-Bold" ;
    src: url(fonts/Play-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Open-Sans" ;
    src: url(fonts/OpenSans_Condensed-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Russo-One" ;
    src: url(fonts/RussoOne-Regular.ttf) format('truetype');
}


body {
    background-color:#244094;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Open-Sans";
    font-style: normal;
    font-weight: 400;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh; /* Cada seção ocupa toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease; /* Transição suave */
}

#section1 {
    background-color: #244094; /* Cor inicial */
}

#section2 {
    background-color: #4b0082;
}

h1 {
    color: #FFFFFF;
}

/* Cabeçalho */
.tv-header {
    position: absolute;
    top: 1px;
    width: 100%;
    background-color: #061822;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.menu {
    display: flex;
    justify-content: right;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px; /* espaço entre os itens */
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    padding: 8px 35px;
    transition: background-color .10s, color 0.3s;
    border-radius: 10px; /* arredonda a borda dos links */
}

.menu ul li a:hover {
    background-color: #ffee00;
    color: #08131b;
}

/* Container principal da TV */
.tv-container {
    width: 500px;
    height: 350px;
    background-color: #061822;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(187, 5, 5, 0.671);
}

/* Tela interna */
.screen {
    width: 350px;
    height: 200px;
    background-color: #333;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-gap: 2px;
}

/* Linhas principais */
.bars {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 140px;
    grid-gap: 1px;
}

/* Retângulos coloridos superiores */
.bar:nth-child(1) { background-color:#B7B7A6; }
.bar:nth-child(1):hover { background-color: #EF573F; }
.bar:nth-child(2) { background-color: #ffee00; }
.bar:nth-child(2):hover { background-color: #A761A9; }
.bar:nth-child(3) { background-color: #71C8BF; }
.bar:nth-child(3):hover { background-color: #224095; }
.bar:nth-child(4) { background-color: #7AC242; }
.bar:nth-child(4):hover { background-color: #E0E445; }
.bar:nth-child(5) { background-color: #A761A9; }
.bar:nth-child(5):hover { background-color: #71C8BF; }
.bar:nth-child(6) { background-color: #EF573F; }
.bar:nth-child(6):hover { background-color: #B7B7A6; }
.bar:nth-child(7) { background-color: #224095; }
.bar:nth-child(7):hover { background-color: #A761A9; }

/* Segunda linha de retângulos */
.middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 25px;
    grid-gap: 0px;
}

.middle div:nth-child(1) { background-color: #204096; }
.middle div:nth-child(1):hover { background-color: #71C7BA; }
.middle div:nth-child(2) { background-color: #061728; }
.middle div:nth-child(2):hover { background-color: #FEFFFF; }
.middle div:nth-child(3) { background-color: #AA5FA5; }
.middle div:nth-child(3):hover { background-color: #204096; }
.middle div:nth-child(4) { background-color: #031826; }
.middle div:nth-child(4):hover { background-color: #ffee00; }
.middle div:nth-child(5) { background-color: #71C8BF; }
.middle div:nth-child(5):hover { background-color: #B7B7A6; }
.middle div:nth-child(6) { background-color: #224095; }
.middle div:nth-child(6):hover { background-color: #c9ff33; }
.middle div:nth-child(7) { background-color: #FEFFFF; }
.middle div:nth-child(7):hover { background-color: #ff3366; }

/* Área inferior com sub-divisões */
.bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr 2fr 3fr;
    height: 35px;
    grid-gap: 2px;
}

.bottom > div {
    background-color: #000;
    height: 100%;
}

.bottom div:nth-child(1) { background-color: #374E54; }
.bottom div:nth-child(1):hover { background-color: #ff5733; }
.bottom div:nth-child(2) { background-color: #ffffff; }
.bottom div:nth-child(2):hover { background-color: #33ff57; }
.bottom div:nth-child(3) { background-color: #522A73; }
.bottom div:nth-child(3):hover { background-color: #151A1E; }
.bottom div:nth-child(4) { background-color: #000000; }
.bottom div:nth-child(4):hover { background-color: #ff33c9; }
.bottom div:nth-child(5) { background-color: #000000; }
.bottom div:nth-child(5):hover { background-color: #FFFFFF; }
.bottom div:nth-child(6) { background-color: #404040; }
.bottom div:nth-child(6):hover { background-color: #374E54; }
.bottom div:nth-child(7) {
background: repeating-linear-gradient(
    to right,
    #000000,
    #000000 10px,
    #ffffff 10px,
    #ffffff 20px
);
}
.bottom div:nth-child(7):hover { background-color: #ff3366; }

/* Responsividade */
@media (max-width: 768px) {
    .project {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .project {
        width: 100%;
    }
}