@charset "UTF-8";


body {
    background-color:#061822;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "mamablock-210", "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh; /* Cada seção ocupa toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease; /* Transição suave */
}

#section1 {
    background-color: #244094; /* Cor inicial */
    padding-top: 140px; /* Adiciona espaço para o cabeçalho */
}

#section2 {
    background-color: #4b0082;
}

#section1, #section2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#section1:hover, #section2:hover {
    transform: translateY(10px);
}


h1 {
    color: #FFFFFF;
    

}

/* Cabeçalho */
header {
    background-color: #061822;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 120px;
    display: flex; /* Define layout flexível */
    justify-content: space-between; /* Separa o título e o menu */
    align-items: center; /* Centraliza verticalmente */
    margin: 15px;/*Adiciona espaço externo ao redor do cabeçalho*/
    padding: 0 20px; /* Espaçamento interno lateral */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 50px 0;
    position: fixed; /* Ou "fixed" se quiser que o cabeçalho fique fixo no topo */
    z-index: 10; /* Define o cabeçalho acima de outros elementos */
}

/* Menu */
.menu {
    display: flex; /* Alinha os itens horizontalmente */
    flex-wrap: wrap; /* Links se organizam em múltiplas linhas, se necessário */
    justify-content: center; /* Centraliza os links */
    gap: 90px; /* Espaço entre os links */
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 18px;/*tamanho da fonte*/
    font-weight:200;
    padding: 16px 16px;/*tamanho do quadrado em volta dos links*/
    transition: background-color 0.1s, color 0.3s;
    border-radius: 5px; /* Arredonda as bordas dos links */
}

.menu a:hover {
    background-color: #E0E445;
    color: #08131b;
    font-weight: 700;
}



/* Container principal da TV */
.tv-container {
    width: 500px;
    height: 350px;
    background-color: #061822;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(187, 5, 5, 0.671);
    z-index: 1; /* A TV ficará abaixo do cabeçalho */
}

/* Tela interna */
.screen {
    width: 350px;
    height: 200px;
    background-color: #333;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-gap: 2px;
}

/* Linhas principais */
.bars {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 140px;
    grid-gap: 1px;
}

/* Retângulos coloridos superiores */
.bar:nth-child(1) { background-color:#B7B7A6; }
.bar:nth-child(1):hover { background-color: #EF573F; }
.bar:nth-child(2) { background-color: #ffee00; }
.bar:nth-child(2):hover { background-color: #A761A9; }
.bar:nth-child(3) { background-color: #71C8BF; }
.bar:nth-child(3):hover { background-color: #224095; }
.bar:nth-child(4) { background-color: #7AC242; }
.bar:nth-child(4):hover { background-color: #E0E445; }
.bar:nth-child(5) { background-color: #A761A9; }
.bar:nth-child(5):hover { background-color: #71C8BF; }
.bar:nth-child(6) { background-color: #EF573F; }
.bar:nth-child(6):hover { background-color: #B7B7A6; }
.bar:nth-child(7) { background-color: #224095; }
.bar:nth-child(7):hover { background-color: #A761A9; }

/* Segunda linha de retângulos */
.middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 25px;
    grid-gap: 0px;
}

.middle div:nth-child(1) { background-color: #204096; }
.middle div:nth-child(1):hover { background-color: #71C7BA; }
.middle div:nth-child(2) { background-color: #061728; }
.middle div:nth-child(2):hover { background-color: #FEFFFF; }
.middle div:nth-child(3) { background-color: #AA5FA5; }
.middle div:nth-child(3):hover { background-color: #204096; }
.middle div:nth-child(4) { background-color: #031826; }
.middle div:nth-child(4):hover { background-color: #ffee00; }
.middle div:nth-child(5) { background-color: #71C8BF; }
.middle div:nth-child(5):hover { background-color: #B7B7A6; }
.middle div:nth-child(6) { background-color: #224095; }
.middle div:nth-child(6):hover { background-color: #c9ff33; }
.middle div:nth-child(7) { background-color: #FEFFFF; }
.middle div:nth-child(7):hover { background-color: #ff3366; }

/* Área inferior com sub-divisões */
.bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr 2fr 3fr;
    height: 35px;
    grid-gap: 2px;
}

.bottom > div {
    background-color: #000;
    height: 100%;
}

.bottom div:nth-child(1) { background-color: #374E54; }
.bottom div:nth-child(1):hover { background-color: #ff5733; }
.bottom div:nth-child(2) { background-color: #ffffff; }
.bottom div:nth-child(2):hover { background-color: #33ff57; }
.bottom div:nth-child(3) { background-color: #522A73; }
.bottom div:nth-child(3):hover { background-color: #151A1E; }
.bottom div:nth-child(4) { background-color: #000000; }
.bottom div:nth-child(4):hover { background-color: #ff33c9; }
.bottom div:nth-child(5) { background-color: #000000; }
.bottom div:nth-child(5):hover { background-color: #FFFFFF; }
.bottom div:nth-child(6) { background-color: #404040; }
.bottom div:nth-child(6):hover { background-color: #374E54; }
.bottom div:nth-child(7) {
background: repeating-linear-gradient(
    to right,
    #000000,
    #000000 10px,
    #ffffff 10px,
    #ffffff 20px
);
}
.bottom div:nth-child(7):hover { background-color: #ff3366; }

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-wrap: wrap; /* Permite que os itens do cabeçalho se ajustem */
        height: auto; /* Ajusta automaticamente a altura */
        padding: 20px; /* Reduz o espaçamento interno */
    }

    .menu {
        display: flex;
        flex-wrap: wrap; /* Links se organizam em múltiplas linhas, se necessário */
        justify-content: center; /* Centraliza os links */
        gap: 10px; /* Reduz o espaço entre os links */
    }

    .menu a {
        padding: 5px 10px; /* Links mais compactos */
        font-size: 14px; /* Texto menor para links */
    }
}



@media (max-width: 480px){
    header {
        flex-wrap: wrap; /* Permite que os itens do cabeçalho se ajustem */
        height: auto; /* Ajusta automaticamente a altura */
        padding: 20px; /* Reduz o espaçamento interno */
    }

    .menu {
        display: flex;
        flex-wrap: wrap; /* Links se organizam em múltiplas linhas, se necessário */
        justify-content: center; /* Centraliza os links */
        gap: 10px; /* Reduz o espaço entre os links */
    }

    .menu a {
        padding: 5px 10px; /* Links mais compactos */
        font-size: 10px; /* Texto menor para links */

    }

    .project {
        width: 100%;
    }
}